
/* 1️⃣ Import color tokens */
@import "./styles//colors.css";

@import "tailwindcss";

 @keyframes fadeSlideDown {
 0% { opacity: 0; transform: translateY(-10px); }
 100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
 0% { opacity: 0; }
 100% { opacity: 1; }
}

.nav-animate {
 animation: fadeSlideDown 0.5s ease forwards;
}

.logo-animate {
 animation: fadeIn 0.7s ease forwards;
}

